$background: #15161E;
$background_second: #1B1D27;
$background_gradient: linear-gradient(45deg, rgba(4, 5, 6, 1) 0%, rgba(4, 5, 6, 1) 64%, rgba(10, 5, 51, 1) 100%);
$purple: #7061ef;
$white: #fff;
$white1: #fefefe;
$black: #000;
$grey: #585858;
$grey1: #7A7A7A;
$red: #E84C4C;